@import url("color.css");

/* Global Styles */

html, #root ,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #root {
    font-family: Arial, sans-serif;
    height: 100vh;
    position: relative;
    background-color: var(--background);   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
}

/* 메인 */
#app-Main{
    margin: auto;
    width: 80%;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 수직 스크롤 활성화 */
    overflow-x: hidden; /* 가로 스크롤 비활성화 */
}





form {
    margin: 20px 10px;
    padding: 0 10px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form input, form textarea{
    flex: 1;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px 0 0 5px;
}



button {
    padding: 10px 15px;
    border: none;
    background-color: var(--sub-background);
    color: var(--text-100);
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}


#blurBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
}


.popSet {
    position: relative;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    padding: 5px;
    transform: translate(-50%, -50%);
    background-color: var(--background); /* 보기 위해 추가한 배경색 (선택사항) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 선택사항 */
    text-align: center; /* 선택사항 */
    border-radius: 8px;
}